/* Style for footer */

.center__footer {
    width: 100%;
    margin: 0 auto;
    background-color: #434343;
    // margin-top: 60px;
    transition: .3s;

}

.footer {
    display: block;
    font-size: 16px;
    box-sizing: border-box;
    margin-top: 50px;
    max-width: 1400px;
    padding: 100px 0px;
    margin: 0 auto;
    transition: .3s;
    @media screen and (max-width: 960px) {
        padding: 80px 0px;
    }
    @media screen and (max-width: 700px) {
        padding: 70px 0px;
    }
}

.footer__list {
    display: flex;
    grid-gap: 20px;
    max-width: 1180px;
    margin: 0 110px;
    justify-content: space-evenly;
    transition: .3s;

    @media screen and (max-width: 960px) {
        margin: 0 60px;
    }
    @media screen and (max-width: 700px) {
        flex-wrap: wrap;
        margin: 0 19px 0 21px;
        grid-gap: 0px;
    }
}

.footer__nav {
    display: inline-block;
    width: 33%;
    flex-grow: 1;
    @media screen and (max-width: 700px) {
        display: block;
        width: 100%;
    }
}

.footer__nav a {
    color: #FFFFFF;
}

.footer__nav_list {
    display: block;
    width: 100%;
    margin: 28px 0px;
    color: #FFFFFF;
    @media screen and (max-width: 700px) {
        column-count: 2;
        margin: 20px 0px 25px 0;

    }
}

.footer__nav_list_items {
    margin-bottom: 15px;
    @media screen and (max-width: 700px) {
        font-size: 14px;
        line-height: 19px;
    }
}

.footer__title {
    color: #AAAAAA;
    margin-bottom: 23px;
    @media screen and (max-width: 700px) {
        margin-bottom: 20px;
    }
}

.footer__line {
    margin: 0;
    border: none;
    border-top: 1px solid #666666;
    max-width: 1180px;
}

.footer__line_2 {
    margin: 0;
    border: none;
    border-top: 1px solid #666666;
    max-width: 1180px;
    margin: 0 110px;
    @media screen and (max-width: 960px) {
        margin: 0 60px;
    }
    @media screen and (max-width: 700px) {
        margin: 0 19px 0 21px;
    }
}

.footer__input_email {
    box-sizing: border-box;
    display: flex;
    max-width: 100%;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.label__email {
    display: flex;
    margin: 25px 0px;
    padding: 0;
    border: 0;
    width: 100%;
    height: 40px;
    padding-left: 15px;
    background-color: #666666;
    color: #EBEBEB;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    font-style: normal;
    font-family: 'Open Sans';
    outline: none;
    &:focus {
        outline: 1px solid white;
    }
    &::placeholder {
        color: #EBEBEB;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        font-style: normal;
        font-family: 'Open Sans';
    }
    @media screen and (max-width: 700px) {
        height: 38px;
        font-size: 14px;
        line-height: 19px;
    }
}

.label__email::-webkit-input-placeholder,
.label__email::-moz-placeholder,
.label__email:-ms-input-placeholder,
.label__email::-ms-input-placeholder {
    color: #EBEBEB;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    font-style: normal;
    font-family: 'Open Sans';
}

.button__join {
    display: flex;
    padding: 0;
    color: #FFFFFF;
    font-family: 'Open Sans';
    background-color: #000000;
    text-transform: uppercase;
    font-style: normal;
    padding: 9px 22px;
    font-weight: 700;
    line-height: 22px;
    border: 0;
    cursor: pointer;
    &:hover {
        background-color: #C29974;
        cursor: pointer;
        transition: .3s linear;
    }
    &:active {
        background-color: #CFAF91;
        transition: .1s linear;
    }
    @media screen and (max-width: 700px) {
        font-size: 14px;
        padding: 9px 20px;
    }
}

.footer__logo {
    display: flex;
}

.footer__list_logo {
    display: flex;
    grid-gap: 10px;
    @media screen and (max-width: 700px) {
        grid-gap: 15px;
    }
}

.footer__list_items_logo {
    display: flex;
    cursor: pointer;
}

.footer__connect {
    @media screen and (max-width: 700px) {
        margin: 35px 0 60px 0;
    }
}

.footer__info {
    margin: 23px 110px 0 110px;
    grid-gap: 20px;
    display: flex;
    justify-content: space-evenly;
    max-width: 1180px;
    transition: .3s;
    @media screen and (max-width: 1152px) {
        flex-wrap: wrap;
        grid-gap: 15px;
    }
    @media screen and (max-width: 960px) {
        margin: 23px 60px 0 60px;
    }
    @media screen and (max-width: 700px) {
        margin: 23px 19px 0 21px;
    }
}

.footer__rating {
    display: flex;
    flex-grow: 1;
    width: 33%;
    grid-gap: 25px;
    @media screen and (max-width: 1152px) {
        width: 100%;
    }
}

.footer__title_rating {
    margin: 0;
    padding: 0;
    color: #FFFFFF;
}

.footer__copyright {
    color: #FFFFFF;
    flex-grow: 1;
    display: inline-block;
    width: 33%;
}

.footer__link {
    display: inline-block;
    color: #A2A2A2;
    flex-grow: 1;
    width: 33%;
        &:hover {
        color: #FFFFFF;
        text-decoration: underline;
    }
    @media screen and (max-width: 960px) {
        width: 100%;
    }
}

.footer__nav_list_items:hover,
.footer__list_items_logo:hover {
    opacity: 0.5;
}

.footer__nav_list_items:active,
.footer__list_items_logo:active {
    opacity: 0.2;
}



/* рейтинг */

.footer__rating-area {
    overflow: hidden;
    margin: 0;
}

.footer__rating-area:not(:checked) > input {
    display: none;
}

.footer__rating-area:not(:checked) > label {
    margin: 0;
    padding: 0;
    cursor: pointer;
    font-size: 16px;
    color: #FFFFFF;
    float: right;
}

.footer__rating-area:not(:checked) > label:before {
    content: '★';
}

.footer__rating-area > input:checked ~ label,
.footer__rating-area > label:hover ~ input:checked ~ label {
    color: #C29974;
}

.footer__rating-area:not(:checked) > label:hover,
.footer__rating-area:not(:checked) > label:hover ~ label {
    color: #836E5B;
}

.rate-area > label:active {
    position: relative;
}