/* Style for header */

#header__menu {
    display: none;
}

#header__menu:checked ~ .header__nav__list {
    visibility: hidden;
}

.header {
    max-width: 1178px;
    display: flex;
    margin-top: 50px;
    margin-left: 110px;
    margin-right: 110px;
    text-transform: uppercase;
    font-size: 14px;
    // justify-content: space-between;
    align-items: center;
    transition: .3s;
    z-index: 50;
    @media screen and (max-width: 960px) {
        margin: 35px 60px;
        justify-content: space-between;
    }
    @media screen and (max-width: 700px) {
        margin: 25px 30px;
    }
}

.header a {
    color: #1E0606;
    &:hover {
        opacity: 0.5;
    }
    &:focus {
        opacity: 0.3;
    }
}

.header__link {
    height: 52px;
    @media screen and (max-width: 960px) {
        height: 32px;
    }
    @media screen and (max-width: 700px) {
        height: 22px;
    }
}

.logo_dlk {
    @media screen and (max-width: 960px) {
        width: 62px;
        height: 32px;
        transition: .2s;
    }
    @media screen and (max-width: 700px) {
        height: 22px;
        width: 42px;
    }
}

.header__burger_menu {
    margin-right: auto;
    @media screen and (max-width: 960px) {
        margin-right: 0;
    }
}

.header__nav {
    display: flex;
    margin-left: 60px;
    @media screen and (max-width: 960px) {
        display: none;
        margin-left: 0px;
        z-index: 3;
        position: absolute;
        width: 100%;
        height: 100%;
        margin-top: 102px;
        background-color: #7D97DACC;
        top: 0;
        left: 0;
    }
    @media screen and (max-width: 700px) {
        margin-top: 73px;
    }
}

.header_menu_open {
    @media screen and (max-width: 960px) {
        display: flex;
    }
}


.header__nav__list {
    display: inline-flex;
    align-self: center;
    font-weight: 400;
    padding: 0px;
    grid-gap: 20px;  /* расстояние между ссылками */
    @media screen and (max-width: 960px) {
        display: flex;
        position: absolute;
        top: 0px;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding-top: 25px;
        padding-bottom: 25px;
        margin-left: 0px;
        left: 0;
        right: 0;
        text-align: center;
        z-index: 3;
        background-color: #fff;
        font-size: 16px;
        line-height: 22px;
    }
}

.header__menu__label {
    display: none;
    @media screen and (max-width: 960px) {
        display: flex;
        justify-content: center;
    }
}

.header__contact__us {
    display: flex;
    position: relative;
    align-self: center;
    font-weight: 700;
    padding: 0px;
    vertical-align: middle;
    @media screen and (max-width: 960px) {
        width: 62px;
        justify-content: flex-end;
    }
    @media screen and (max-width: 700px) {
        width: 42px;
        justify-content: flex-end;
    }
}

.header__img__search {
    margin-right: 23px;
    align-self: center;
    @media screen and (max-width: 960px) {
        margin: 0;
    }
    @media screen and (max-width: 700px) {
        height: 13px;
        width: 13px;
    }
}

.header__contact__us__text {
    @media screen and (max-width: 960px) {
        display: none;
    }
}

.header__nav__list_contact {
    display: none;
    @media screen and (max-width: 960px) {
        display: flex;
        font-size: 16px;
        margin-top: 15px;
        font-weight: 700;
    }
}