<footer class="center__footer">
    <div class="footer">
        <div class="footer__list">
            <section class="footer__nav">
                <h5>Navigation</h5>
                <p class="footer__title">Navigation</p>
                <hr class="footer__line">
                <ul class="footer__nav_list">
                    <li class="footer__nav_list_items">                
                        <a href="#">About Us</a>
                    </li>
                    <li class="footer__nav_list_items">              
                        <a href="/blog.html">Blog</a>
                    </li>
                    <li class="footer__nav_list_items">
                        <a href="#">Design Services</a>
                    </li>
                    <li class="footer__nav_list_items">
                        <a href="#">Featured On</a>
                    </li>
                    <li class="footer__nav_list_items">
                        <a href="#">2018 Holiday Catalog</a>
                    </li>
                    <li class="footer__nav_list_items">
                        <a href="#">Shop By Designer</a>
                    </li>
                </ul>
            </section>
            <section class="footer__nav">
                <h5>Customer Information</h5>
                <p class="footer__title">Customer Information</p>
                <hr class="footer__line">
                <ul class="footer__nav_list">
                    <li class="footer__nav_list_items">
                        <a href="/contact_us.html">Contact Us</a>
                    </li>
                    <li class="footer__nav_list_items">
                        <a href="#">Sale Exclusions</a>
                    </li>
                    <li class="footer__nav_list_items">
                        <a href="#">Shipping & Returns</a>
                    </li>
                    <li class="footer__nav_list_items">
                        <a href="#">Terms & Conditions</a>
                    </li>
                    <li class="footer__nav_list_items">
                        <a href="#">Privacy Policy</a>
                    </li>
                    <li class="footer__nav_list_items">
                        <a href="#">Search</a>
                    </li>
                </ul>
            </section>
            <section class="footer__nav">
                <h5>Connect</h5>
                <p class="footer__title">Connect</p>
                <hr class="footer__line">
                <form class="footer__input_email">
                    <label>
                        <input type="email" required placeholder="Email" class="label__email">
                    </label>
                    <button class="button__join" type="submit">Join</button>
                </form>
                <div class="footer__logo">
                    <ul class="footer__list_logo">
                        <li class="footer__list_items_logo"><img src="/img/icons/logoFacebook.svg" alt="logo_facebook" width="30" height="30"></li>
                        <li class="footer__list_items_logo"><img src="/img/icons/logoTwitter.svg" alt="logo_twitter" width="30" height="30"></li>
                        <li class="footer__list_items_logo"><img src="/img/icons/logoPinterest.svg" alt="logo_pinterest" width="30" height="30"></li>
                        <li class="footer__list_items_logo"><img src="/img/icons/logoInstagram.svg" alt="logo_instagram" width="30" height="30"></li>
                    </ul>
                </div>
            </section>
        </div>
        <hr class="footer__line_2">
        <div class="footer__info">
            <section class="footer__rating">
                <h5>Company Rating</h5>
                <p class="footer__title_rating">Company Rating</p>
                <div class="footer__rating-area">
                    <input type="radio" id="star-5" name="rating" value="5">
                    <label for="star-5" title="Оценка «5»"></label>	
                    <input type="radio" id="star-4" name="rating" value="4">
                    <label for="star-4" title="Оценка «4»"></label>    
                    <input type="radio" id="star-3" name="rating" value="3">
                    <label for="star-3" title="Оценка «3»"></label>  
                    <input type="radio" id="star-2" name="rating" value="2">
                    <label for="star-2" title="Оценка «2»"></label>    
                    <input type="radio" id="star-1" name="rating" value="1">
                    <label for="star-1" title="Оценка «1»"></label>
                </div>
            </section>
            <p class="footer__copyright">Copyright © 2018 Dlk • Design Life Kids</p>
            <a class="footer__link" href="#">Web Design — Direct Line Development</a>
        </div>
    </div>
</footer>