<header class="center">
    <div class="header">
        <a class="header__link" href="/index.html">
            <img class="logo_dlk" src="/img/icons/logoDlk.svg" alt="DLK" width="100" height="52">
        </a>
        <nav class="header__nav">
            <ul class="header__nav__list">
                <li class="header__nav__list_items">
                    <a class="header__nav__list_link" href="/blog.html">Blog</a>
                </li>
                <li class="header__nav__list_items">
                    <a class="header__nav__list_link" href="/pages/catalog.html">Catalog</a>
                </li>
                <li class="header__nav__list_items">
                    <a class="header__nav__list_link" href="#">About Us</a>
                </li>
            </ul>
        </nav>
        <a class="header__contact__us" href="/pages/contact_us.html">
            <img class="header__img__search" src="/img/icons/buttonSearch.svg" alt="search" width="17" height="17">
            Contact  Us
        </a>
    </div>
</header>